@model  ICollection<TaskManagerProject.Models.Project>
@{
    ViewBag.Title = "ProjectsExceededTheirBudget";
}

<h2>Projects That Exceeded Their Budget</h2>


@foreach(var project in Model)
{
    if(project.TotalCost > project.Budget)
    {
        <br />
        <p>Project Name: @project.Name</p>
        <p>Project Budget: @project.Budget</p>
        <p>Project Total Cost: @project.TotalCost</p>
        <br />
    }
}
