
@using (Html.BeginForm("AddNewComment"))
{
    @Html.AntiForgeryToken()
    <form asp-controller="DevTask1Controller" asp-action="AddNewComment">
        <p>

                @ViewBag.TaskId
            
            <input type="text" name="comment">
            <input type="hidden" name="id" value="@(ViewBag.TaskId)">
            <input type="submit" value="Add Comment" />
        </p>
    </form>
}