@model TaskManagerProject.Models.ApplicationUser
@{
    ViewBag.Title = "TasksAssignedToUser";
}
<h1>DEVELOPER DASHBOARD</h1>
<br />
@Html.ActionLink(Model.Notifications.Count().ToString(), "ProjectManagerNotifications", "Notifications") 

<br />
<h2>Tasks:</h2>
<br />
@foreach (var task in Model.DevTasks)
{
    <p>Task Name: @task.Name</p>

    <br />
    <br />
}
<br />
<br />